data
.idea

# files with extracted image information, they are too large for Github
data/scored_info*

# weights
pretrained_weights

# vscode
.vscode

# ipynb
.ipynb_checkpoints

# pycache
*__pycache__